{% extends 'base.html' %}

{% block title %}
    Все новости
{% endblock %}

{% block header %}
    <link rel="stylesheet" href="/static/css/all_news.css">
{% endblock %}

{% block content %}

    <h1 style="margin: 20px 40px"> Все новости </h1>

    <div class="container all-news">
    <section class="news">
    {% for n in news %}

        <div class="news_item">
            <h2>{{ n.title }}</h2>
            <span class="news_date">{{ n.date | formatdatetime }}</span>
            <img class="news_img" src="/static/img/news/{{ n.img }}" alt="">
            <p>{{ n.description }}</p>
            <a href="/news/{{ n.id }}" class="news_read-more">Читать далее</a>
        </div>

    {% endfor %}
    </section>
    </div>
{% endblock %}