{% extends 'base.html' %}


{% block title %}
    Рейтинг
{% endblock %}

{% block header %}
    <link rel="stylesheet" href="/static/css/rating.css">
{% endblock %}

{% block content %}
    <h1 class="title_rating">Рейтинг</h1>

    <table>
        <tr>
            <th>№</th>
            <th>Имя</th>
            <th>Средний балл</th>
        </tr>

        {% for user_data in users %}

            <tr {% if user_id == user_data.user.id %}class="highlight"{% endif %}>
                <td>{{ loop.index }}</td>
                <td>{{ user_data.user.name }}</td>
                <td class="rates">
                    {{ user_data.rating }}
                </td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}
